@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Sacramento&display=swap");
* {
  margin: 10;
  box-sizing: border-box;
  /*border: none;*/
}
body {
  font-family: Arial, Helvetica, sans-serif;
  /*background:url(); /*imagen de fonde*/
  background-size: cover;
}
.card {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 40% 40%;
  text-align: center;
}
.year {
  background-color: rgba(52, 3, 45, 0.3);
  margin-bottom: 30px;
  margin-left: 40px;
  margin-right: 40px;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
}

.welcome {
  grid-row: inherit;
  border-radius: 1rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  backdrop-filter: blur(1rem);
  background-color: rgba(255, 255, 255, 0.6);
  border: 0.1rem rgba(255, 255, 255, 0.18);
}
form {
  text-align: center;
  background-position: center;
  width: 280px;
  border-radius: 1rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-top: 30px;
  margin-left: 40%;
  backdrop-filter: blur(1rem);
  background-color: rgba(255, 255, 255, 0.6);
  border: 0.1rem rgba(255, 255, 255, 0.18);
}
body {
  display: grid;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Sacramento";
  color: rgb(8, 8, 8);
  background: #333;
  background-image: radial-gradient(
      ellipse at bottom left,
      rgba(0, 163, 203, 1) 40%,
      rgba(0, 163, 203, 0) 40%
    ),
    radial-gradient(
      ellipse at top right,
      rgba(0, 163, 203, 1) 30%,
      rgba(0, 163, 203, 0) 30%
    ),
    linear-gradient(
      to right,
      rgba(98, 87, 147, 1) 0%,
      rgba(98, 87, 147, 1) 33%,
      rgba(213, 93, 100, 1) 33%,
      rgba(213, 93, 100, 1) 66%,
      rgba(228, 145, 41, 1) 66%
    );
  background-size: 50% 100%;
}
